body.home {
  #services h3 {
    padding-bottom:1.5vw;
  }
  @media  (max-width: calc(theme("screens.sm") - 1px)) {
    #about {
      margin-bottom:30px;
    }
    #services h3 {
      padding-bottom:10px;
    }
    #services h3 br {
      display: none
    }
  }
  @media  (max-width: calc(theme("screens.lg") - 1px)) {
    #contact .wp-block-cover__inner-container {
      align-self: stretch;
      height: auto;
      display: flex;
      flex-direction: column;
    }

    #contact .wp-block-cover__inner-container > .wp-block-columns {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      flex-grow: 1;
    }
    #contact .wp-block-cover__inner-container > .wp-block-columns > .wp-block-column {
      flex-basis: auto !important;
      margin: 0 !important;
    }
    #contact .wp-block-cover__inner-container > .wp-block-columns > .wp-block-column:first-child {
      flex-grow: 1;
    }
    #contact .wp-block-cover__inner-container > .wp-block-columns > .wp-block-column:last-child {
      flex-grow: 0 !important;
      #careers {
        padding-top: 6vh;
      }
      br {
        display: none;
      }
      strong {
        display:block;
      }
      a {
        text-decoration: underline;
        strong {
          font-weight: 200;
        }
      }
    }
  }
}
