body.home {
  #services h3 {
    padding-bottom:1.5vw;
  }
  @media  (max-width: calc(theme("screens.sm") - 1px)) {
    #about {
      margin-bottom:30px;
    }
    #services h3 {
      padding-bottom:10px;
    }
    #services h3 br {
      display: none
    }
  }
}
