# Optional: HTTP on 8080 → redirect to HTTPS:8443
# http://triz.localhost:8080 {
#  redir https://triz.localhost:8443{uri}
# }

# Main site over HTTPS on 8458 using your mkcert files
https://triz.localhost:8458 {
  tls /etc/caddy/certs/triz.localhost.pem /etc/caddy/certs/triz.localhost-key.pem
  encode zstd gzip

  # --- Uploads routing from production server ---
  # Everything under uploads (match all medial)
  # @remoteUploads path /wp-content/uploads/*

  # Proxy uploads to production
  # handle @remoteUploads {
    # Optional: allow <img> hotlinking to work from your dev pages
    # (not needed for plain <img>, but helpful for JS fetch/CORS)
    # header Access-Control-Allow-Origin *

  #  reverse_proxy https://triz.com {
  #    # Make upstream treat it as first-party
  #    header_up Host triz.com
  #    header_up X-Forwarded-Host {host}
  #    header_up X-Forwarded-Proto https
  #    # Strip any referrer to avoid hotlink rules
  #    header_up -Referer
  #  }
  # }

  # Uncoment if you are using Vite. This will proxy the HMR and internal module paths to the Vite dev server. 
  # Change 5177 to your Vite dev server port if different. 
  # If you are using SAGE, you will need to proxy the base path as well (see below).
  @vite {
    path /@vite/*
    path /@id/*
    path /@fs/*
    path /resources/*
    path /node_modules/*
  }

  # Uncomment if you are using SAGE ad Wordpress template. This will proxy the HMR and internal module paths to the Vite dev server. Sage is requesting via your base path:
  @vitebase path /wp-content/themes/codigo/public/build/*
  reverse_proxy @vitebase node:5177

  # Everything else → local WordPress
  reverse_proxy wordpress:80
}

https://pma.triz.localhost:8458 {
  tls /etc/caddy/certs/triz.localhost.pem /etc/caddy/certs/triz.localhost-key.pem
  encode zstd gzip
  # Everything else → phpMyAdmin
  reverse_proxy phpmyadmin:80
}
