footer.content-footer {
  @media  (max-width: calc(theme("screens.sm") - 1px)) {
    .brand {
      margin-top:20px;
    }
    .copyright {
      & > .wp-block-column:first-of-type {
        margin-top:30px;
      }
      .has-sm-font-size {
        font-size: var(--text-xs) !important;
      }
    }
  }
}