
@theme {
  /* Colours (must match with resources/js/acf-colors.js ) and settings.color.palette in theme.json */
  --color-black:    #000;
  --color-darkplum: #2E0019;
  --color-white:    #fff;



  /* Fonts */
  --font-sans: 'Aeonik', sans-serif;
  /* --font-serif: 'Neue Haas Grotesk Display Pro', serif; */


  --font-weight-*: initial;
  /* --font-weight-hairline: 100;
  --font-weight-thin: 200; */
  --font-weight-light: 300;
  /*--font-weight-normal: 400; */
  --font-weight-medium: 500;
  /* --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900; */

  /* Font Size */
  /*
  Normalised to 1920px viewport
  Formula: font-size: (target_px / 1920) * 100vw;
  base: 24px → 1.25vw
  h1: 72px → 3.75vw
  h2: 36px → 1.875vw
  7xl (large): 100px → 5.2083vw

  192px → 10vw
  128px → 6.6667vw
  96px → 5vw
  64px → 3.3333vw
  48px → 2.5vw
  16px → 0.8333vw
  */
  --text-base: clamp(1rem,1.25vw,1rem);
  /*
  (orig 1rem*24 = 24px)
  Desktop: 1.25vw (24px at 1920px)
  Mobile: 24px → clamp(MIN, PREFERRED, MAX)
    MIN → 1rem (24px) → smallest allowed size
    PREFERRED → 1.25vw → scales with viewport width
    MAX → 1rem (24px) → largest allowed size

  */
  --text-2xl: clamp(1.25rem,8vw,1.875rem)
  /*
  (orig 1.5rem*24 = 36px)
  Desktop: 1.875vw (36px at 1920px)
  Mobile: 30px → clamp(MIN, PREFERRED, MAX)
    MIN → 1.25rem (~30px) → smallest allowed size
    PREFERRED → 6vw → scales with viewport width
    MAX → 1.875rem (~36px) → largest allowed size
  */
  --text-5xl: clamp(1.75rem,13vw,2.5rem);
  /*
  (orig 3rem*24 = 72px)
  Desktop: 72px at 1920px
  Mobile: 60px-> clamp(MIN, PREFERRED, MAX)
    MIN → 1.75rem (~42px) → smallest allowed size
    PREFERRED → 13vw → scales with viewport width
    MAX → 2.5rem (~60px) → largest allowed size
  */
  --text-7xl: clamp(3.75rem,15vw,4.5rem);
  /*
  (orig 4.5rem*24 = 108px)
  Desktop: 100px at 1920px (5.2083vw)
  Mobile: 80px-> clamp(MIN, PREFERRED, MAX)
    MIN → 3.75rem (~90px) → smallest allowed size
    PREFERRED → 15vw → scales with viewport width
    MAX → 4.5rem (~108px) → largest allowed size
  */

  /* Letter Spacing */

  /*--tracking-tighter: -0.05em; /* -5%  */
  /*--tracking-tight:  -0.025em /* -2.5%  */
  /*--tracking-normal: 0  /* 0em */
  --tracking-wide: 0.02em;  /*  orig 0.025em 2.5%  */
  /*--tracking-wider:  0.05em  /* 5%  */
  /*--tracking-widest: 0.1em /* 10%  */


  /* Line Height */
  --leading-tighter: 1.1; /* custom */
  /*--leading-tight: 1.25 /* orig 1.25 */

  --text-xs--line-height: 1.1; /* orig calc(1 / 0.75); */
  /*--text-sm--line-height: calc(1.25 / 0.875); */
  --text-base--line-height: 1.05; /* (original calc(1.5 / 1); */
  /*--text-lg--line-height: calc(1.75 / 1.125);
  --text-xl--line-height: calc(1.75 / 1.25); */

  /*--text-2xl--line-height: 1.05; /* (original calc(2 / 1.5); */
  /*--text-3xl--line-height: calc(2.25 / 1.875) */
  --text-4xl--line-height: 1.05; /* (original calc(2.5 / 2.25) */

  --text-5lg--line-height: 1.05; /* custom */
  /*--text-5xl--line-height: 1 */
  --text-6xl--line-height: 1.05; /* (original 1) */
  --text-7xl--line-height: 1.05; /* (original 1) */
  --text-8lg--line-height: 1; /* custom */
  --text-8xl--line-height: 1.05; /* (original 1) */
  --text-9xl--line-height: 1.05; /* (original 1) */
  --text-10xl--line-height: 1.05;


  /* Animation */
  --animate-appearsin: appearsIn 1.2s ease forwards;
  --animate-appearsout: appearsOut 0.6s ease forwards;

  --default-transition-duration: 150ms; /*Original 150ms */


  /* Breakpoints. */
  --breakpoint-sm: 600px;  /* Matches Gutenberg small */
  --breakpoint-md: 782px;  /*  Matches Gutenberg medium */
  --breakpoint-lg: 960px;  /*  Matches Gutenberg large */
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1792px;
}


@layer base {
  :root {
    --wp--style--global--content-size: 100vw !important;
    @media (min-width: theme("screens.lg")) {
      --wp--style--global--content-size: 60vw !important;
      /* Original --wp--style--global--content-size: 1144px !important; */
      --text-base: 1.25vw; /* 24px at 1920px */
      --text-2xl: 1.875vw;  /* 36px at 1920px */
      --text-5xl: 3.75vw; /*  72px at 1920px  */
      --text-7xl: 5.2083vw; /*  100px at 1920px */

    }
  }
  html {
    /* THis is configured in resources/js/tailwind.site.js */

    /*color: var(--color-darkplum); */
    /* Set sans, serif or mono stack with optional custom font as default. */
    /*font-family: var(--font-sans); */
    /* font-family: var(--font-serif); */
    /* font-family: var(--font-mono); */
  }
  html, body {
    /* overflow-x: hidden; */
    overflow-x: clip;
    /* scrollbar-gutter: stable; */
  }

  :root :where(.is-layout-flow) > *,
  :root :where(.is-layout-constrained) > * {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
  }




  :root :where(.is-layout-flow) > p,
  :root :where(.is-layout-constrained) > p {
    margin-block-end: 1rem !important;
  }
  :root :where(.is-layout-flow) > p.mb-0,
  :root :where(.is-layout-constrained) > p.mb-0,
  :root :where(.is-layout-flow) > p:last-of-type,
  :root :where(.is-layout-constrained) > p:last-of-type {
    margin-block-end: 0 !important;
  }

}


@keyframes appearsIn {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes appearsOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(40px);
    }
}

