@font-face {
  font-family: 'Aeonik';
  src: url('@fonts/aeonik-light.woff2') format('woff2'),
      url('@fonts/aeonik-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aeonik';
  src: url('@fonts/aeonik-bold.woff2') format('woff2'),
      url('@fonts/aeonik-bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}